#header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 3px 2px 27px rgba(0, 0, 0, 0.2);
}
.header {
    padding: 24px 0 14px;
    .container {
        max-width: 1865px;
    }
    nav.main-nav {
        margin-left: 100px;
        li {
            margin: 0 50px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 20px;
                transition: all 0.3s ease;
                white-space: nowrap;
            }
        }
    }
}



.search-box {
    display: flex;
    gap: 20px;

    input {
        /* width: 518px; */
        height: 46px;
        border: 2px solid #32439B;
        border-radius: 23px;
        font-size: 16px;
        padding: 0 20px;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
    }

}

@media screen and (max-width:1440px) {
    .header{
        .container{
            max-width: 1000px;
        }
    }
    
}