.header {
    padding: 64px 0 55px;

    .container {
        max-width: 1865px;
    }

    nav.main-nav {
        margin-left: 171px;

        li {
            margin: 0 72px;

            a {
                text-decoration: none;
                color: #000;
                font-weight: 500;
                font-size: 24px;
                transition: all 0.3s ease;
            }
        }
    }
}



.search-box {
    margin-left: auto;
    margin-right: 50px;
    margin-top: -4px;
    display: flex;
    gap: 20px;

    input {
        width: 518px;
        height: 46px;
        border: 2px solid #32439B;
        border-radius: 23px;
    }

    button {
        position: relative;
        top: -4px;
        background: none;
        border: none;
    }

}