.menu-toggle {
    display: none;
}

/* ====================================================================================================================
 * For large deveice
 * ====================================================================================================================*/



@media screen and (max-width: 1800px) {

    /* Header */
    .header {
        & nav.main-nav {
            li {
                margin: 0 20px;
            }
        }
    }

}


/* ====================================================================================================================
 * For Tablet landscapr deveice
 * ====================================================================================================================*/
@media screen and (max-width: 1200px) {

    /* Header */
    .header {
        & nav.main-nav {
            li {
                margin: 0 10px;

                a {
                    font-size: 16px;
                }
            }
        }

        .logo {
            width: 216px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .search-box {
            input {
                width: 310px;
            }
        }
    }




    /* footer  */
    .footer-component {
        .footer {
            .footer-top {
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;

                .reach_sales {
                    width: 100%;
                }

                .menu_social {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }


    /* accordian */

    .accordion {
        width: 100%;
        margin: 0 auto;
    }

    .accordianFormat {
        .colCover {
            display: flex;
            gap: 33px;
            flex-wrap: wrap;
            padding: 35px;
        }
    }

    /* chapter details  */


    .chapterDetails {
        & .breadcrumb {
            a {
                text-decoration: none;
                color: white;
                transition: color 0.3s;
                font-size: 13px;
            }
        }
    }
}



/* ====================================================================================================================
 * For Tablet deveice
 * ====================================================================================================================*/

@media screen and (max-width: 950px) {

    .header {
        .search-box {
            input {
                width: 110px;
            }

        }


    }

}











/* ====================================================================================================================
 * For Mobile deveice
 * ====================================================================================================================*/

@media screen and (max-width: 767px) {

    /* Header */



    header {
        .search-box {
            align-items: center;
        }



        .menu-toggle {
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 22px;
            cursor: pointer;
            z-index: 1001;
            display: block;
        }

        .menu-toggle span {
            display: block;
            height: 4px;
            background: #2B3393;
            border-radius: 2px;
            transition: 0.3s ease;
            margin-bottom: 4px;
        }

        /* Toggle Animation */
        .menu-toggle.active span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .menu-toggle.active span:nth-child(2) {
            opacity: 0;
        }

        .menu-toggle.active span:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
            position: relative;
            top: -2px;
        }

        .main-nav {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 250px;
            background: #fff;
            flex-direction: column;
            align-items: flex-start;
            padding: 80px 20px;
            gap: 20px;
            transition: right 0.3s ease;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        /* Open Nav */
        .main-nav.open {
            right: 0;
        }

        /* Vertical List */
        .main-nav ul {
            flex-direction: column;
            width: 100%;
        }

        .main-nav ul li {
            width: 100%;
        }

        .main-nav ul li a {
            display: block;
            padding: 10px 0;
            font-size: 18px;
        }

    }





    /* Footer */

    .footer-component {
        & .footer {
            & .footer-top {
                .qr_code {
                    justify-content: flex-start;
                }

                .menu_social {

                    flex-direction: column;

                    .social_media {
                        text-align: left;

                        ul {
                            justify-content: flex-start;
                        }
                    }
                }

                & .reach_sales {
                    width: 100%;
                    flex-direction: column;


                    .menu-blocks {
                        margin-bottom: 14px;
                    }

                    .reach_us {
                        flex: none;
                        max-width: 100%;
                    }
                }
            }
        }
    }


    /* Common */
    h1,
    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 10px 24px;
    }

    /* accordian */
    .accordion-header {
        padding: 9px 16px;
        font-size: 14px;

        .arrow {
            top: 11px;
        }
    }

    .accordion-item {
        &.active .arrow {
            top: 16px;
        }
    }

    .accordianFormat {
        .colCover {
            justify-content: center;
            gap: 10px;
            padding: 15px;
        }
    }

    /* chapter details */

    .chapterDetails {
        h2 {
            margin-bottom: 20px;
        }



        & .breadcrumb {
            font-size: 15px;
            padding: 10px;
            flex-wrap: wrap;

            .separator {
                font-size: 15px;
            }
        }

        .contentPlaceholder {
            padding-bottom: 27px;

            h5 {
                font-size: 16px;
            }

            p,
            span {
                font-size: 17px;
                margin-bottom: 10px;
            }

            img {
                width: 100%;
            }
        }

    }



    /* FLex slider */
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }


    /* navigation-buttons */

    .navigation-buttons {
        margin: 6px 0;

        a {
            font-size: 16px;
        }
    }

}